@model IEnumerable<PFC_Project.Data.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MemId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemDob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemDatejoined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemInitialweight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemParent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MemId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemDob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemDatejoined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemInitialweight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemParent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MemType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
